In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_1 =  pd.read_csv("EMD_Reconstructed(us-101 0750am-0805am).csv")
df_2 =  pd.read_csv("EMD_Reconstructed(us-101 0805am-0820am).csv")
df_3 =  pd.read_csv("EMD_Reconstructed(us-101 0820am-0835am).csv")

In [3]:
df_1

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceeding,Following,Space_Hdwy,Time_Hdwy
0,2,13,437,1118846980200,16.467,49.632144,6451137.641,1873344.962,14.5,4.9,2,19.968408,5.483250,2,0,0,0.00,0.00
1,2,14,437,1118846980300,16.447,51.663558,6451140.329,1873342.000,14.5,4.9,2,20.659887,8.284013,2,0,0,0.00,0.00
2,2,15,437,1118846980400,16.426,53.776399,6451143.018,1873339.038,14.5,4.9,2,21.596919,10.372190,2,0,0,0.00,0.00
3,2,16,437,1118846980500,16.405,55.989720,6451145.706,1873336.077,14.5,4.9,2,22.669500,10.982768,2,0,0,0.00,0.00
4,2,17,437,1118846980600,16.385,58.311420,6451148.395,1873333.115,14.5,4.9,2,23.764500,10.818539,2,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2783,8698,760,1118847848700,55.108,1895.266085,6452497.662,1872062.617,17.5,5.4,2,22.179175,-10.445622,5,2775,2808,51.11,1.43
1048571,2783,8699,760,1118847848800,55.032,1897.431668,6452500.375,1872060.416,17.5,5.4,2,21.132492,-10.488028,5,2775,2808,51.26,1.45
1048572,2783,8700,760,1118847848900,55.044,1899.494099,6452503.036,1872058.143,17.5,5.4,2,20.116128,-9.839254,5,2775,2808,51.49,1.47
1048573,2783,8701,760,1118847849000,55.133,1901.461267,6452505.651,1872055.808,17.5,5.4,2,19.227232,-7.938660,5,2775,2808,51.71,1.48
1048574,2783,8702,760,1118847849100,55.168,1903.350768,6452508.307,1872053.510,17.5,5.4,2,18.562777,-5.350458,5,2775,2808,51.90,1.49

# Adding two column in us 101 datasets

In [4]:
num_rows = df_1.shape[0]
df_1["Location"] = ['us101']*num_rows
df_1["Period"] = ['7:50AM - 8:05AM']*num_rows
df_1.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceeding,Following,Space_Hdwy,Time_Hdwy,Location,Period
0,2,13,437,1118846980200,16.467,49.632144,6451137.641,1873344.962,14.5,4.9,2,19.968408,5.483250,2,0,0,0.0,0.0,us101,7:50AM - 8:05AM
1,2,14,437,1118846980300,16.447,51.663558,6451140.329,1873342.000,14.5,4.9,2,20.659887,8.284013,2,0,0,0.0,0.0,us101,7:50AM - 8:05AM
2,2,15,437,1118846980400,16.426,53.776399,6451143.018,1873339.038,14.5,4.9,2,21.596919,10.372190,2,0,0,0.0,0.0,us101,7:50AM - 8:05AM
3,2,16,437,1118846980500,16.405,55.989720,6451145.706,1873336.077,14.5,4.9,2,22.669500,10.982768,2,0,0,0.0,0.0,us101,7:50AM - 8:05AM
4,2,17,437,1118846980600,16.385,58.311420,6451148.395,1873333.115,14.5,4.9,2,23.764500,10.818539,2,0,0,0.0,0.0,us101,7:50AM - 8:05AM

In [5]:
df_2["Location"] = ['us101']*num_rows
df_2["Period"] = ['8:05AM- 8:20AM']*num_rows
df_2.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceeding,Following,Space_Hdwy,Time_Hdwy,Location,Period
0,1,270,569,1118847869000,51.164,119.654025,6451136.708,1873294.084,47.0,8.5,3,9.965173,2.893582,5,0,0,0.0,0.0,us101,8:05AM- 8:20AM
1,1,271,569,1118847869100,51.153,120.668400,6451138.053,1873292.603,47.0,8.5,3,10.322331,4.192748,5,0,0,0.0,0.0,us101,8:05AM- 8:20AM
2,1,272,569,1118847869200,51.143,121.724280,6451139.397,1873291.122,47.0,8.5,3,10.795264,5.190666,5,0,0,0.0,0.0,us101,8:05AM- 8:20AM
3,1,273,569,1118847869300,51.244,122.831158,6451140.617,1873289.614,47.0,8.5,3,11.342302,5.663074,5,0,0,0.0,0.0,us101,8:05AM- 8:20AM
4,1,274,569,1118847869400,51.234,123.994261,6451141.961,1873288.133,47.0,8.5,3,11.919764,5.794288,5,0,0,0.0,0.0,us101,8:05AM- 8:20AM

In [6]:
df_3["Location"] = ['us101']*num_rows
df_3["Period"] = ['8:20AM- 8:35AM']*num_rows
df_3.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceeding,Following,Space_Hdwy,Time_Hdwy,Location,Period
0,1,137,421,1118848770700,52.660,82.706652,6451113.236,1873317.970,15.0,6.4,2,12.872914,4.016778,5,0,0,0.0,0.0,us101,8:20AM- 8:35AM
1,1,138,421,1118848770800,52.648,84.017251,6451114.916,1873316.119,15.0,6.4,2,13.339072,6.019351,5,0,0,0.0,0.0,us101,8:20AM- 8:35AM
2,1,139,421,1118848770900,52.635,85.382542,6451116.596,1873314.268,15.0,6.4,2,13.966749,7.494230,5,0,0,0.0,0.0,us101,8:20AM- 8:35AM
3,1,140,421,1118848771000,52.622,86.815120,6451118.277,1873312.417,15.0,6.4,2,14.684810,7.965254,5,0,0,0.0,0.0,us101,8:20AM- 8:35AM
4,1,141,421,1118848771100,52.609,88.320485,6451119.957,1873310.566,15.0,6.4,2,15.422476,7.294709,5,0,0,0.0,0.0,us101,8:20AM- 8:35AM

In [7]:
df_1.to_csv('Updated_us101(0750-0805).csv')
df_2.to_csv('Updated_us101(0805-0820).csv')
df_3.to_csv('Updated_us101(0820-0835).csv')

## Combining all updated datasets in one(us-101)

In [8]:
# Combine the datasets
combined_us101 = pd.concat([df_1,df_2,df_3], axis=0)

# Reset the index of the combined dataset
combined_us101.reset_index(drop=True, inplace=True)
combined_us101

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceeding,Following,Space_Hdwy,Time_Hdwy,Location,Period
0,2,13,437,1118846980200,16.467,49.632144,6451137.641,1873344.962,14.5,4.9,2,19.968408,5.483250,2,0,0,0.00,0.00,us101,7:50AM - 8:05AM
1,2,14,437,1118846980300,16.447,51.663558,6451140.329,1873342.000,14.5,4.9,2,20.659887,8.284013,2,0,0,0.00,0.00,us101,7:50AM - 8:05AM
2,2,15,437,1118846980400,16.426,53.776399,6451143.018,1873339.038,14.5,4.9,2,21.596919,10.372190,2,0,0,0.00,0.00,us101,7:50AM - 8:05AM
3,2,16,437,1118846980500,16.405,55.989720,6451145.706,1873336.077,14.5,4.9,2,22.669500,10.982768,2,0,0,0.00,0.00,us101,7:50AM - 8:05AM
4,2,17,437,1118846980600,16.385,58.311420,6451148.395,1873333.115,14.5,4.9,2,23.764500,10.818539,2,0,0,0.00,0.00,us101,7:50AM - 8:05AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145720,1317,6107,1114,1118849367700,38.320,160.552283,6451184.340,1873261.226,16.0,5.4,2,7.611573,-3.677150,4,1311,1324,48.87,3.86,us101,8:20AM- 8:35AM
3145721,1317,6108,1114,1118849367800,38.353,161.294967,6451185.179,1873260.276,16.0,5.4,2,7.242105,-3.628296,4,1311,1324,48.53,3.84,us101,8:20AM- 8:35AM
3145722,1317,6109,1114,1118849367900,38.393,162.001526,6451186.020,1873259.313,16.0,5.4,2,6.889081,-3.390504,4,1311,1324,48.19,3.83,us101,8:20AM- 8:35AM
3145723,1317,6110,1114,1118849368000,38.418,162.675174,6451186.847,1873258.387,16.0,5.4,2,6.583874,-2.713625,4,1311,1324,47.86,3.84,us101,8:20AM- 8:35AM
3145724,1317,6111,1114,1118849368100,38.405,163.322210,6451187.700,1873257.490,16.0,5.4,2,6.356851,-1.826829,4,1311,1324,47.54,3.87,us101,8:20AM- 8:35AM

In [9]:
combined_us101.to_csv("Combined_us101.csv", index = False)

In [10]:
df = pd.read_csv("Combined_us101.csv")

In [13]:
df['Lane_ID'].unique()

array([2, 1, 7, 6, 5, 4, 3, 8], dtype=int64)